.footer-content {
  background: #62b6ff1c;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 20px;
  padding: 10px;
}
.footer > footer {
  display: grid;
  grid-template-columns: repeat(2, 45%);
  justify-content: center;
  gap: 20px;
}
.footer-title {
  text-align: center;
}
.kontakt > .contact-desc,
.kontakt > .adress-desc,
.om > .om-desc,
.meny > .meny-content,
.social > .social-desc {
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
  background-color: #0d0d0f47;
  border: 1px #000 solid;
}
.kontakt > .contact-desc > a {
  color: #b8b5b5ed;
  transition: color 0.5s;
}
.kontakt > .contact-desc > a:hover {
  color: var(--general-color);
}
.social > .social-desc > a {
  color: #b8b5b5ed;
  line-height: 2.5;
  transition: color 0.5s;
}
.social > .social-desc > a:nth-child(1) > i {
  color: #1876f2;
  font-size: 25px;
}
.social > .social-desc > a:nth-last-child(1) > i {
  color: hotpink;
  font-size: 25px;
}
.social > .social-desc > a:nth-child(1):hover {
  color: #1876f2;
}
.social > .social-desc > a:nth-last-child(1):hover {
  color: hotpink;
}
.meny > .meny-content {
  list-style: none;
  padding: 20px;
  border-radius: 5px;
}
.meny > .meny-content > li {
  padding: 10px;
}
.meny > .meny-content > li > .a {
  font-size: 20px;
  padding: 0;
}
.om > .om-desc {
  width: 90%;
}
.om > .om-desc > .om-title {
  display: block;
}
.om > .om-desc > .om-title > strong {
  color: #fff;
}
.footer > footer > p {
  width: 100%;
  text-align: center;
  margin: 0;
  color: #fff;
  background-color: inherit;
}
.f-me {
  font-family: "Dancing Script", cursive;
}
@media screen and (max-width: 768px) {
  .footer-content {
    display: block;
  }
  .footer-content > .kontakt > .footer-title {
    margin-top: 0;
    padding-top: 20px;
  }
  .footer-title {
    margin: 20px 0;
    font-size: 25px;
  }
  .footer > footer {
    display: block;
  }
  .footer > footer > p:nth-child(1) {
    margin-bottom: 2px;
  }
  .om > .om-desc {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 500px) {
  .footer-title {
    font-size: 20px;
  }
  .kontakt > .contact-desc,
  .kontakt > .adress-desc,
  .om > .om-desc,
  .meny > .meny-content,
  .social > .social-desc {
    padding: 10px;
    width: 99%;
    font-size: 16px;
  }
  .meny > .meny-content > li > .a {
    font-size: 16px;
  }
  .meny > .meny-content > li {
    padding: 5px;
  }
}
